{%extends"Layout.html"%}

{%block body%}
</br>
    {%if session['logged_in']==True%}
    <div>
        <h3>Welcome {{username}}</h3>
    </div>
    <div style="padding-top: 20px;">
        <h1><strong>New Top Rated Book</strong></h1>
    </div>
    <div class="card" style="margin: 20px;">
        <div class="row no-gutters">
            <div class="col-auto">
                <img class="img-fluid" id="{{book.isbn}}" src="{{book_details(book.isbn)['thumbnail']}}" alt="cover not available"/>
            </div>
            <div class="col">
                <div class="card-block px-2">
                    <h4 class="card-title"><strong>{{book.title}}</strong></h4>
                    <h4 class="isbn"><strong>ISBN No:</strong> {{book.isbn}}</h4>
                    <p><strong>Description:</strong> {{book_details(book.isbn)['textsnippet']}}</p>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <a href="{{url_for('book',isbn=book.isbn)}}" class="btn btn-primary" style="bottom: 0;">Read More</a>
        </div>
    </div>

    {%else%}
        <h3>Please Login</h3>
    {%endif%}
{%endblock%}