<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Book Reviews</title>
        <link rel="stylesheet" href="{{url_for('static',filename='css/stylesheet.css')}}" type="text/css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>
    <body class="bg-secondary" style="margin:0;">
        <nav class="navbar navbar-dark bg-light" class="container-fluid">
            <h1><img src="{{url_for('static',filename='images/book.jpg')}}" width="30" height="40"><font size="7">B</font><font size="4">OOK</font> <font size="7">R</font><font size="4">EVIEWS</font></h1>
        </nav>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse nav-pills" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link btn"href="{{url_for('homepage')}}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link btn" href="{{url_for('search')}}">Search Books </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link btn" href="{{url_for('reviews')}}">Your Reviews <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <ul class="navbar-nav justify-content-end">
                {%if session['logged_in']==True and session['user_admin']==True%}
                    <li class="nav-item active">
                        <a class="nav-link" href="{{url_for('admin')}}">Admin <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{url_for('user')}}">{{username}} <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link btn btn-info logout" href="{{url_for('logout')}}">Logout <span class="sr-only">(current)</span></a>
                    </li>
                {%elif session['logged_in']==True%}
                    <li class="nav-item active">
                        <a class="nav-link" href="{{url_for('user')}}">{{username}} <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link btn btn-info logout" href="{{url_for('logout')}}">Logout <span class="sr-only">(current)</span></a>
                    </li>
                {%else%}
                    <li class="nav-item active">
                        <a class="nav-link btn" href="{{url_for('login')}}">Login <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link btn btn-outline-success" href="{{url_for('registration')}}">Sign Up</a>
                    </li>
                {%endif%}
            </ul>
        </div>
        </nav>
        <div style="text-align: center;">
        <div id="mainBody" class="container-fluid">
        {%for message in get_flashed_messages()%}
            <div class="alert alert-warning">{{ message }}</div>
        {%endfor%}
        {%if error%}
            <div class="alert alert-danger"><strong>Error:</strong>	{{	error	}}</div>
        {%endif%}
        {%block body%}
        {%endblock%}
        </div>
        </div>
    </body>
</html>