{%extends"Layout.html"%}
{%block body%}
<header class="global-navigation">
        <nav class="navbar navbar-dark bg-faded justify-content-center">
            <form class="form-inline search" method="GET" action="{{url_for('search')}}">
                  <input class="form-control mr-sm-2" type="text" placeholder="Search" name="search">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </nav>

</header>
<div class="content">
    {%if books%}

    <div class="card-group text-center">
        {%for book in books%}
        <div class="jumbotron">
        <div class="row">
            <div class="card border border-secondary" style="width: 20rem;">
                <div class="card-header">
                    <img class="card-img-top" id="{{book.isbn}}" src="static/Images/imagenotavailable.png" alt="cover not available">
                </div>
                    <!--<img class="card-img-top" id="{{book.isbn}}" src="..." alt="cover not available">-->
                    <div class="card-body">
                        <h4 class="card-title">{{book.title}}</h4>
                        <h4 class="isbn">ISBN No :{{book.isbn}}</h4>
                        <p class="card-text" id ="{{book.id}}">Cannot find description</p>
                        <a href="{{url_for('book',isbn=book.isbn)}}" class="btn btn-primary">Read More</a>
                    </div>
            </div>
        </div>
        </div>
            <script>
                    var MY_KEY=config.BOOK_API_KEY
                    $(document).ready(function(){
                            var isbn ="{{book.isbn}}"
                                $.ajax({
                                    dataType: 'json',
                                    url: 'https://www.googleapis.com/books/v1/volumes?q=isbn:' + isbn+"&key="+MY_KEY,
                                    success: handleResponse

                                    });
                                function handleResponse( response ) {
                                $.each( response.items, function( i, item ) {
                                    thumb = item.volumeInfo.imageLinks.thumbnail;
                                    description=item.volumeInfo.description;
                                    $('#{{book.isbn}}').attr('src', thumb);
                                    $('#{{book.id}}').text(description)
                                });
                              }
                        })
            </script>
        {%endfor%}
    </div>
    {%endif%}
</div>


{%endblock%}