{%extends"Layout.html"%}
{%block body%}
<header class="global-navigation" style="padding: 20px;">
        <nav class="navbar navbar-dark bg-faded justify-content-center">
            <form class="form-inline search" method="GET" action="{{url_for('search')}}">
                  <input class="form-control mr-sm-2" type="text" placeholder="Search" name="search">
                  <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </nav>
</header>
<div class="content">
    {%if books%}

    <div class="card-columns text-center">
        {%for book in books%}
            <div id="bookcard" class="card border border-secondary" style="width: 25rem;min-height: 35rem;margin: 20px;">
                <div class="card-header" style="height:15rem;justify-content:center;">
                    <img class="center-block" id="{{book.isbn}}" src="{{book_details(book.isbn)['smallthumbnail']}}" alt="cover not available"/>
                </div>
                <div class="card-body" style="height:16rem;">
                    <h4 class="card-title">{{book.title}}</h4>
                    <h4 class="isbn">ISBN No: {{book.isbn}}</h4>
                    <p class="card-text" id="{{book.id}}">{{book_details(book.isbn)["textsnippet"]}}</p>

                </div>
                <div class="card-footer">
                    <a href="{{url_for('book',isbn=book.isbn)}}" class="btn btn-primary" style="bottom: 0;">Read More</a>
                </div>
            </div>
        {%endfor%}
    </div>
    {%endif%}
</div>
{%endblock%}